/* *allstyles */
* {
    font-family: 'Poppins', sans-serif;
}


/* header styles */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7.5rem;
    margin-left: 7.5rem;

}

.navbar2{
    display: none;
}

.navitems ul {
    display: flex;
    gap: 2.13rem;
}

.navitems ul li {
    list-style: none;
}

.navitems {
    color: #3A3A3A;
    font-weight: 600;
}


.navtitle {
    color: #3A3A3A;
    font-size: 1.2rem;
    font-weight: 700;
}

.camerapic {
    max-width: 400px; 
    border-radius: 475px;
    border: 3px solid  #F1E4FF;
}

/* journey section styles */

.journey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;


}


.journeytitle {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}



.section-description {
    font-weight: 600;
    margin: 16px 0;
}


.btn-primary {
    color: #FFF;
    font-weight: 700;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
}

.prebook-button {
    border-radius: 41px;
    border: none;
}
.sponsors-container{
text-align: center;

}













/* responsive styles */

@media screen and (max-width:576px) {
    
    .navigation{

        display: none;
    }
    .navbar2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
       
    }
    .navtitle2{
        color: #3A3A3A;
        font-weight: 700;
        text-align: center;
    }
   /* main section  */
   .journey{
    flex-direction: column-reverse;

   }

   .sponsors-container img{
    padding: 0 5px;
   }
}
